<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>相合傘 濡れてる方が 惚れている</string>
	<string>上京しても、雨の匂いは同じだった</string>
	<string>濡れたモノ全て、目もくらむ様な色になる。</string>
	<string>今だけは 泣いても 誰にもばれない</string>
	<string>傘片手になら「一緒に帰らない？」って、素直に言えるのにね</string>
	<string>あの人の利き手を知った</string>
	<string>服の洗濯はあしたにしよう、きょうは心の洗濯日和</string>
	<string>雨に濡れて、風に揺られて、君との赤い糸がよく見えた</string>
	<string>時雨　五月雨　穀雨　涙雨　氷雨　花散らしの雨　雨のつく言葉は美しい</string>
	<string>「雨、止まないね」「止まなくてもいいよ」「ん、何か言った？」「何でもない。止まないと帰れないね」</string>
	<string>泣けない人のかわりに雨が供養になると、だから泣けなくても大丈夫。いつか晴れの日にな泣いたっていいんだもの</string>
	<string>雨に降られたら 乾いてた街が 滲んで綺麗な光を放つ</string>
	<string>傘越しの世界は普段と違う色を隠してる</string>
	<string>雨滴ひとつひとつに名前があることを、あなたは知っていますか？</string>
	<string>わたしの代わりに 空が泣く</string>
	<string>雨上がりの水たまり、空に触れる唯一の方法</string>
	<string>「雨のあとの夜空は綺麗に星が出る　それを考えると雨も好きになれるよね？」</string>
</array>
</plist>
